dist: bionic
language: minimal

services:
  - docker

script:
  - ./ci.sh script

deploy:
  - provider: releases
    overwrite: true
    draft: false
    prerelease: true
    file: build/*
    edge: true
    on:
      tags: true
      condition: $TRAVIS_TAG == edge

  - provider: releases
    overwrite: false
    draft: false
    prerelease: false
    file: build/*
    edge: true
    on:
      tags: true
      condition: $TRAVIS_TAG =~ ^v[0-9]+\.[0-9]+\.[0-9]+$
